/*Read the instructions before start..
1. Ignore the fonts folder its already in framework
2. Ignore the vis-fonts.css file its already in framework
3. Ignore framework.css
*/

/*

Only index.html and style.css is for your use There is no need to copy any other file

*/

.vas-apInvPoWrapper {
    display: flex;
    flex-direction: column;
    /*border: 1px solid #eee;*/
    width: 100%;
    /* calculate height Dynamically */
    /* height: 600px;*/
    padding: 1rem;
}

.vas-apInvPoTtl {
    font-size: 16px;
    color: rgba(var(--v-c-primary), 1);
    font-weight: 600;
    margin-bottom: 12px;
}

.vas-apInvPoListItem {
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #eee;
    border-radius: 0.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

    .vas-apInvPoListItem:hover {
        border: 1px solid rgba(var(--v-c-primary), .5);
    }

.vas-apInvPoListGroup {
    /*height: 535px;*/
    overflow-y: auto;
    padding: 4px 4px 4px 1px;
}

.vas-apInvPoTitle {
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.vas-apInvPoValue {
    font-size: 14px;
    display: block;
}


.vas-apTaxWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
}

.vas-apTax-ttl {
    color: rgba(var(--v-c-primary),1);
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0;
}

.vas-apListItem {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0.15rem;
    padding: 0.85rem;
}

.vas-ap-sglItem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.vas-ap-sgl1Item1_First {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.vas-apcheckbox-label {
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 0;
}

.vas-singleTaxElementTTl, .vas-singleTaxElementValue {
    font-size: 14px;
    display: block;
}

.vas-singleTaxElementValue, .vas-singleRequesitionValue {
    font-weight: normal;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.vas-singleTaxElementTTl {
    font-weight: normal;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*VIS430:Handled width for Description field of Requisition tab panel*/
.vas-singleTaxDescription {
    font-weight: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.vas-singleTaxElementValue1_first {
    font-size: 14px;
    display: block;
    font-weight: normal;
    width: 150px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.vas-apcheckbox-label {
    font-size: 12px;
    margin-bottom: 0;
    font-weight: normal;
}

.vas-aptaxListGroup {
    height: calc(100vh - 300px);
    overflow-y: auto;
    padding: 5px 5px 0 0;
}

.vis-ad-w-p-actionpanel-b .vas-aptaxListGroup {
    height: auto
}

.vas-apItem-checkbox input[type="checkbox"] {
    width: 11.5px;
    height: 11.5px;
}

.VAS-TaxDetail {
    padding: 5px 5px 5px 1px;
}

.vas-setTaxWidth {
    width: 24%
}

.vas-setTaxWidthCheckbox {
    align-self: center;
    width: 11%
}

.vas-setTaxWidth1 {
    width: 10%
}

.vas-setTaxPaybleAmtWidth {
    width: 38%
}

.vas-setTaxAmtWidth {
    width: 38%
}

.vis-ad-w-p-actionpanel-b .vas-aptaxListGroup {
    height: auto;
}

.vas-singleItemListWrap {
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    justify-content: space-between;
    width: 100%;
}

.vas-setMatchPo {
    width: 45%
}

.vas-setShipWidth {
    width: 70%
}

.vas-setTaxProWidth {
    width: 70%
}

.vas-setChargeWidth {
    width: 70%
}

.vas-setUomWidth {
    width: 70%
}

.vas-apInvWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
}

.VAS-InvDetail {
    padding: 5px 5px 5px 1px;
}

.vas-apInvListGroup {
    height: calc(100vh - 300px);
    padding: 5px 5px 0 0;
}

.vis-ad-w-p-actionpanel-b .vas-apInvListGroup {
    height: auto
}

.VAS-unallocated-flyout {
    /*box-shadow: 0 0 5px #cccccc;
    position: absolute;*/
    right: 0;
    top: 0;
}

.VAS-flyout-header {
    background-color: rgba(var(--v-c-primary), 1);
    font-size: 1rem;
    color: rgba(var(--v-c-common), 1);
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .VAS-flyout-header .vis {
        cursor: pointer;
    }

.VAS-payment-details {
    margin: 0.5rem;
    height: calc(100% - 6px);
    overflow-y: auto;
}

    .VAS-payment-details ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

        .VAS-payment-details ul li {
            border-radius: 6px;
            background-color: rgba(var(--v-c-secondary), 1);
            display: flex;
            width: 100%;
            gap: 0.5rem;
            padding: 0.875rem;
            position: relative;
        }

.VAS-paymentDetail {
    display: grid;
    grid-template-columns: 27% 28% auto;
    gap: 0.3rem;
    margin: 0 0 5px;
}

    .VAS-paymentDetail.VAS-grid-col1 {
        margin-bottom: 0;
        line-height: 19px;
    }

.VAS-grid-col1 {
    grid-template-columns: repeat(1, 1fr) !important;
}

.VAS-payment-val label {
    font-size: 0.75rem;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70px;
    overflow: hidden;
}

.VAS-payment-val span {
    font-size: 0.875rem;
    display: block;
    color: rgba(var(--v-c-on-common), 1);
}

.VAS-totalPrice {
    /*font-weight: 600;*/
    font-size: 0.875rem !important;
}

.VAS-search-link {
    position: absolute;
    right: 6px;
    top: 14px;
    cursor: pointer;
    font-size: 14px;
    padding-right: 7px;
}

.VAS-payment-details ul li .form-check {
    position: relative;
    top: 2px;
}

.VAS-payment-details ul li.active {
    background-color: rgba(var(--v-c-primary), 0.1);
}

.VAS-payment-details input[type="checkbox"]:checked:before {
    bottom: auto;
    right: auto;
    top: 7px;
    left: 4px;
}

.vas-ualdocno {
    font-size: 0.875rem;
    display: block;
    color: rgba(var(--v-c-on-common), 1);
    width: 76px;
    overflow: hidden;
    text-overflow: ellipsis;
}

:root {
    --width-100: calc(1366px/3);
    --width-70: calc(768px*0.7/6);
}

.vas-arwidg-receivable-container {
    background: rgb(251,251,251);
    background: linear-gradient(160deg, rgba(251,251,251,1) 0%, rgba(223,223,223,1) 100%);
    height: 100%;
    width: 100%;
    padding: 0.875em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.vas-arwidg-totalAmt-box {
    /*background: rgb(79,217,150);
    background: linear-gradient(160deg, rgba(79,217,150,1) 0%, rgba(40,189,191,1) 100%);*/
    background: linear-gradient(to left, #36454F, rgba(var(--v-c-primary)));
    padding: 1.4em 0.75em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0 0;
}

.vas-arwidg-totalRec-amount h1 {
    color: rgba(var(--v-c-common),1);
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    margin: 0;
    font-size: 1.6em;
}

.vas-arwidg-cur-symbol {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 0.5em;
    line-height: 1.3000em;
    position: relative;
    top: 0.1em;
}

    .vas-arwidg-cur-symbol span {
        font-size: 1.4em;
    }

.vas-arwidg-totalRecTxt {
    font-size: 1.4em;
    text-align: center;
    color: rgba(var(--v-c-common),1);
    font-family: Verdana;
    font-weight: 600
}

.vas-arwidg-rec-listing {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 0.75em;
}

.vas-arwidg-receiveTxt-box {
    background-color: rgba(var(--v-c-common),1);
    padding: 0.75em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vas-arwidg-recBox-amt {
    font-weight: 600;
    font-size: 1.2em;
    font-family: Verdana;
}

    .vas-arwidg-recBox-amt span {
        color: rgba(var(--v-c-primary));
    }

@media screen and (max-width: 1920px) {
    .vas-arwidg-receivable-container {
        font-size: 0.7em;
    }

    .vis-editModeWidget .vas-arwidg-receivable-container {
        font-size: 7px;
    }

    .vis-editModeWidget .vas-arwidg-totalRec-amount {
        font-size: 7px;
    }
}

@media screen and (max-width: 1366px) {
    .vas-arwidg-receivable-container {
        font-size: 0.6em;
    }

    .vis-editModeWidget .vas-arwidg-receivable-container {
        font-size: 6px;
    }
}

@media screen and (max-width: 1200px) {
    .vas-arwidg-totalRec-amount h1 {
        font-size: 12px;
    }

    .vas-arwidg-recBox-amt {
        font-size: 8px;
    }

    .vas-arwidg-receivable-container {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 1024px) {
    .vas-arwidg-receivable-container {
        font-size: 0.5em;
    }

    .vas-arwidg-totalRec-amount {
        font-size: 8px;
    }

    .vas-arwidg-totalAmt-box {
        padding: 0.75em 0.875em;
    }

    .vis-editModeWidget .vas-arwidg-receivable-container {
        font-size: 4px;
    }

    .vis-editModeWidget .vas-arwidg-totalRec-amount {
        font-size: 7px;
    }

    .vas-arwidg-totalRec-amount h1 {
        font-size: 13px;
    }
}

@media screen and (max-width:900px) {
    .vas-arwidg-totalRec-amount {
        font-size: 9px;
    }

    .vas-arwidg-receivable-container {
        font-size: 0.6em;
    }

    .vis-editModeWidget .vas-arwidg-receivable-container {
        font-size: 7px;
    }

    .vis-editModeWidget .vas-arwidg-totalRec-amount {
        font-size: 7px;
    }

    .vas-arwidg-totalRec-amount h1 {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .vas-arwidg-receivable-container {
        font-size: 7px;
    }

    .vas-arwidg-totalRecTxt {
        font-size: 1em;
    }

    .vis-editModeWidget .vas-arwidg-receivable-container {
        font-size: 3px;
    }

    .vis-editModeWidget .vas-arwidg-totalRec-amount {
        font-size: 4px;
    }

    .vas-arwidg-totalRec-amount h1 {
        font-size: 9px;
    }
}

@media screen and (max-width: 600px) {
    .vas-arwidg-receivable-container {
        font-size: 5px;
    }

    .vas-arwidg-totalRec-amount {
        font-size: 6px;
    }

        .vas-arwidg-totalRec-amount h1 {
            font-size: 8px;
        }

    .vas-arwidg-totalRecTxt {
        font-size: 6px;
    }

    .vas-arwidg-recBox-amt {
        font-weight: 600;
        font-size: 6px;
    }
}

@media screen and (max-width: 480px) {
    .vas-arwidg-receivable-container {
        font-size: 9px;
    }

    .vas-arwidg-totalRec-amount {
        font-size: 9px;
    }
}

@media screen and (max-width: 375px) {
    .vas-arwidg-receivable-container {
        font-size: 8px;
    }

    .vas-arwidg-totalRec-amount {
        font-size: 8px;
    }
}

@media screen and (max-width: 320px) {
    .vas-arwidg-receivable-container {
        font-size: 7px;
    }

    .vas-arwidg-totalRec-amount {
        font-size: 7px;
    }
}

span.vas-arwidg-cur-symbol {
    display: flex;
    /*gap: 4px;*/
    margin-left: 5px;
}

:root {
    --width-100: calc(1920px/9);
    --width-70: calc(1366px*0.7/9);
}

.vas-igtwidg-vendors-heading {
    font-size: 0.9em;
    font-weight: 600;
    margin-bottom: 0.5em;
    font-family: 'Verdana';
}

.vas-igtwidg-top-vendors-col {
    background-color: rgba(var(--v-c-readonly), 1);
    padding: 0.5em;
    height: 100%;
}

.vas-igtwidg-vendors-listing {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5em;
    height: calc(100% - 1.75em);
    overflow: hidden;
}

.vas-igtwidg-invoices-box {
    background-color: rgba(var(--v-c-common), 1);
    padding: 0.5em;
}

.vas-igtwidg-invoices-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vas-igtwidg-thumb-w-txt img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
}

.vas-igtwidg-thumb-w-txt {
    display: flex;
    align-items: center;
    gap: 0.8em;
}

.vas-igtwidg-vendor-w-date .vas-igtwidg-vendor-name {
    font-size: 0.875em;
    font-weight: 600;
    font-family: 'Verdana';
}

.vas-igtwidg-vendor-w-date .vas-igtwidg-invoiceDate {
    font-size: 0.875em;
    color: rgba(var(--v-c-on-secondary), 0.5);
}

.vas-igwidg-notfounddiv {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vas-igtwidg-cur-symbol {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 0.875em;
    line-height: 1.3000em;
    position: relative;
    top: -0.78em;
    /* // font-weight: 600;*/
    color: #093756;
}

    .vas-igtwidg-cur-symbol span {
        font-size: 1.4em;
        color: #093756;
        /*font-weight: 600;*/
    }


.vas-igtwidg-invoiceTotalAmt {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.vas-igtwidg-amt-val {
    font-size: 1em;
    font-weight: 600;
    color: #093756;
    font-family: 'Verdana';
}


@media screen and (max-width: 1920px) {
    .vis-editModeWidget .vas-igtwidg-top-vendors-col {
        font-size: 11px;
    }

    .vis-editModeWidget .vas-vaswidg-Symbol {
        font-size: 8px;
    }

    .vis-editModeWidget .vas-igtwidg-vendors-listing {
        gap: 0.1em;
    }

    .vis-editModeWidget .vas-igtwidg-invoiceTotalAmt {
        font-size: 10px;
    }
}

@media screen and (max-width: 1366px) {
    .vas-igtwidg-top-vendors-col {
        font-size: 11px;
    }

    .vis-editModeWidget .vas-igtwidg-top-vendors-col {
        font-size: 7px;
    }

    .vis-editModeWidget .vas-vaswidg-Symbol {
        font-size: 8px;
    }

    .vis-editModeWidget .vas-igtwidg-invoiceTotalAmt {
        font-size: 8px;
    }

    .vis-editModeWidget .vas-igtwidg-vendor-w-date .vas-igtwidg-vendor-name {
        font-size: 1.2em;
    }

    .vis-editModeWidget .vas-igtwidg-vendor-w-date .vas-igtwidg-invoiceDate {
        font-size: 1.2em;
    }

    .vas-igtwidg-vendors-heading {
        font-size: 9px;
    }

    .vis-editModeWidget .vas-igtwidg-vendors-listing {
        height: calc(100% - 2.4em);
    }
}

@media screen and (max-width: 1024px) {
    .vas-igtwidg-vendors-listing {
        gap: 0.1em;
    }

    .vas-igtwidg-vendor-w-date .vas-igtwidg-vendor-name {
        font-size: 0.75em;
    }

    .vis-editModeWidget .vas-vaswidg-Symbol {
        font-size: 8px;
    }

    .vas-igtwidg-vendor-w-date .vas-igtwidg-invoiceDate {
        font-size: 0.75em;
    }

    .vas-igtwidg-thumb-w-txt img {
        width: 2.125em;
        height: 2.125em;
    }

    .vas-igtwidg-invoiceTotalAmt {
        font-size: 7px;
    }
    /* .vas-vaswidg-Symbol {
        font-size: 7px;
    }*/
}

@media screen and (max-width:900px) {
    .vas-igtwidg-top-vendors-col {
        font-size: 14px;
    }

    .vis-editModeWidget .vas-vaswidg-Symbol {
        font-size: 7px;
    }
    /*.vas-vaswidg-Symbol {
        font-size: 7px;
    }*/
}

@media screen and (max-width: 768px) {
    .vas-igtwidg-top-vendors-col {
        font-size: 12px;
    }

    .vis-editModeWidget .vas-vaswidg-Symbol {
        font-size: 7px;
    }

    .vas-igtwidg-cur-symbol {
        font-size: 1.1em;
    }
    /* .vas-vaswidg-Symbol {
        font-size: 7px;
    }*/
}

@media screen and (max-width: 680px) {
    .vas-igtwidg-top-vendors-col {
        font-size: 11px;
    }
}

@media screen and (max-width: 600px) {
    .vas-igtwidg-top-vendors-col {
        font-size: 17px;
    }

    .vas-igtwidg-amt-val {
        font-size: 2.5em;
    }

    .vas-igtwidg-cur-symbol {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 480px) {
    .vas-igtwidg-top-vendors-col {
        font-size: 15px;
    }
}

@media screen and (max-width: 320px) {
    .vas-igtwidg-top-vendors-col {
        font-size: 10px;
    }

    .vas-igtwidg-invoiceTotalAmt {
        font-size: 5px;
    }
}

.vas-igtwiginvmillion {
    font-size: 1em;
    color: #093756;
    font-weight: 600;
}

:root {
    --width-100: calc(1920px/9);
    --width-70: calc(1920px*0.7/9);
}

.vas-psdwidg-purchase-state-col {
    /* background: rgb(9,55,86);*/
    /*background: linear-gradient(145deg, rgba(9,55,86,1) 0%, rgba(0,132,196,1) 100%);*/
    background: linear-gradient(to left, #36454F, rgba(var(--v-c-primary)));
    height: 100%;
    display: grid;
    /*grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);*/
    gap: 0.4em;
    padding: 0.4em;
    grid-template-columns: repeat(3, 1fr);
}

.vas-psdwidg-whiteBox {
    background-color: rgba(var(--v-c-common), 1);
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    padding: 24px 0 0;
    text-align: center;
}

.vas-psdwidg-totalSale {
    font-size: 1em;
    font-weight: 600;
    color: #083959;
    line-height: 1.2em;
    font-family: 'Verdana';
}

.vas-psdwidg-salesYear {
    color: #083959;
    font-size: 1em;
    font-family: Verdana;
    max-width: 120px;
    text-align: center;
}

.vas-psdwidg-tile-heading {
    background-color: transparent !important;
}

    .vas-psdwidg-tile-heading h1 {
        margin: 0;
        font-size: 2.0em;
        color: rgba(var(--v-c-common), 1);
        line-height: 1.1em;
        font-family: Verdana;
        font-weight: 600;
    }

        .vas-psdwidg-tile-heading h1 span {
            display: block;
            /*text-align: right;*/
        }

@media screen and (max-width: 1920px) {
    .vis-editModeWidget .vas-psdwidg-salesYear {
        color: #083959;
        font-size: 0.5em;
    }

    .vis-editModeWidget .vas-psdwidg-totalSale {
        font-size: 0.5em;
    }

    .vis-editModeWidget .vas-psdwidg-tile-heading h1 {
        font-size: 1.0em;
    }
}

@media screen and (max-width: 1366px) {
    .vas-psdwidg-tile-heading, .vas-psdwidg-purchase-state-col {
        font-size: 10px;
    }
    /* .vas-psdwidg-sales-comparison-col {
        font-size: 10px;
    }*/
}

@media screen and (max-width: 1024px) {
    .vas-psdwidg-tile-heading, .vas-psdwidg-purchase-state-col {
        font-size: 8px;
    }

    .vas-psdwidg-sales-comparison-col {
        font-size: 0.6em;
    }
}

@media screen and (max-width:900px) {
    .vas-psdwidg-sales-comparison-col {
        font-size: 12px;
    }

    .vas-psdwidg-tile-heading {
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
    .vas-psdwidg-sales-comparison-col {
        font-size: 9px;
    }

    .vas-psdwidg-tile-heading {
        font-size: 9px;
    }
}

@media screen and (max-width: 680px) {
    .vas-psdwidg-sales-comparison-col {
        font-size: 0.6em;
    }

    .vas-psdwidg-tile-heading {
        font-size: 8px;
    }
}

@media screen and (max-width: 600px) {
    .vas-psdwidg-sales-comparison-col {
        font-size: 0.8em;
    }

    .vas-psdwidg-tile-heading {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .vas-psdwidg-sales-comparison-col {
        font-size: 13px;
    }

    .vas-psdwidg-tile-heading {
        font-size: 11px;
    }
}

@media screen and (max-width: 320px) {
    .vas-psdwidg-sales-comparison-col {
        font-size: 9px;
    }

    .vas-psdwidg-tile-heading {
        font-size: 7px;
    }
}

.vas-psdwidg-heading-item {
    grid-column: 1 / span 2;
    grid-row: 1;
}
.vas-psdwidg-whiteBoxhead {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.vas-psdwidg-icondiv{
    padding-top:5px;
}

.vas-psdwidg-itme2 {
    grid-column: 3;
}

.vas-psdwidg-stateheading {
    position: absolute;
}

.vas-psdwidg-unit {
    padding-left: 1px;
}

.vas-igtwidg-img-icon {
    align-items: center;
    background-color: rgba(var(--v-c-primary), .4);
    border-radius: 100%;
    display: inline-flex;
    height: 2.5em;
    justify-content: center;
    /* margin: 0 .4rem; */
    /*min-height: 32px;
    min-width: 32px;*/
    overflow: hidden;
    width: 2.5em;
}

.vas-igtwidg-vendor-bgColor {
    background: linear-gradient( 145deg, rgb(206 183 212) 0%, rgb(248 245 186) 100%);
}

.vas-igtwidg-customer-bgColor {
    background: rgb(249,253,169);
    background: linear-gradient(145deg, rgba(249,253,169,1) 0%, rgba(186,224,248,1) 100%)
}

.vas-exinvd-expected-invoice {
    background-color: rgba(var(--v-c-primary), .1);
    padding: 0.5em;
    height: 100%;
}

.vas-exinvd-expected-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .4em;
}

    .vas-exinvd-expected-heading h6 {
        margin: 0;
        font-size: 0.875em;
        font-weight: 600;
    }

.vas-exinvd-filterby-col {
    display: flex;
    align-items: center;
    border-radius: 0.375em;
    padding: 0.125em 0px 0.125em 0.5em;
    gap: 0.375em;
}

    .vas-exinvd-filterby-col .fa {
        font-size: 0.875em;
    }

.vas-exinvd-filter-label {
    font-size: .75em;
    font-weight: 600;
}

.vas-exinvd-filterby-col select {
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 4em;
    font-size: 0.875em;
}

.vas-exinvd-invoicesListing {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.6em;
    height: calc(100% - 5.3125em);
    overflow: hidden;
}

.vas-exinvd-invoices-box {
    background-color: rgba(var(--v-c-common), 1);
    padding: 0.3em;
}

    .vas-exinvd-invoices-box > h6 {
        font-size: 0.875em;
        font-weight: 600;
        margin: 0 0 .4em 0;
    }

.vas-exinvd-invoices-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vas-exinvd-thumb-w-txt {
    display: flex;
    align-items: center;
    gap: 0.8em;
}

    .vas-exinvd-thumb-w-txt img {
        width: 3.125em;
        height: 3.125em;
        border-radius: 100%;
    }

.vas-exinvd-company-w-date .vas-exinvd-com-name {
    font-size: 0.875em;
    font-weight: 600;
}

.vas-exinvd-company-w-date .vas-exinvd-invoiceDate {
    font-size: 0.875em;
    color: rgba(var(--v-c-on-secondary), 0.5);
}

.vas-exinvd-invoice-w-amount {
    text-align: right;
}

.vas-exinvd-invoice-lbl {
    font-size: 0.875em;
    font-weight: 600;
}

.vas-exinvd-invoiceTotalAmt {
    font-size: 0.75em;
}

    .vas-exinvd-invoiceTotalAmt span {
        color: #EEB645;
        font-weight: 600;
    }

.vas-exinvd-slider-arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.6em;
    padding: 0 0.875em;
}

    .vas-exinvd-slider-arrows .fa {
        font-size: 2.6em;
        cursor: pointer;
        color: rgba(var(--v-c-on-common), 0.9);
    }

/* .vas-exinvd-slider-arrows span {
        font-size: 1.1em;
    }*/



@media screen and (max-width: 1920px) {
    .vis-editModeWidget .vas-exinvd-expected-invoice {
        font-size: 12px;
    }

        .vis-editModeWidget.vas-exinvd-expected-invoice .vas-exinvd-expected-heading {
            margin: 7px 4px 10px;
        }

    .vis-editModeWidget .vas-exinvd-slider-arrows {
        margin-top: 4px;
    }

        .vis-editModeWidget .vas-exinvd-slider-arrows i.fa {
            font-size: 13px;
        }
}

@media screen and (max-width: 1366px) {
    .vas-exinvd-expected-invoice {
        font-size: 10px;
    }

    .vas-exinvd-invoicesListing {
        height: calc(100% - 6em);
    }

    .vas-exinvd-invoices-box {
        font-size: 12px;
    }

    .vas-exinvd-expected-heading h6 {
        font-size: 1.2em;
    }

    .vis-editModeWidget .vas-exinvd-expected-invoice {
        font-size: 9px;
    }

    .vis-editModeWidget .vas-exinvd-invoices-box {
        font-size: 7px;
    }
}

@media screen and (max-width: 1024px) {
    .vas-exinvd-invoices-box {
        font-size: 10px;
    }

    .vas-exinvd-expected-heading h6 {
        font-size: 1.1em;
    }

    .vas-exinvd-filter-label {
        font-size: 1em;
    }

    .vis-editModeWidget .vas-exinvd-expected-invoice {
        font-size: 7px;
    }
}

@media screen and (max-width:900px) {
    .vas-exinvd-expected-invoice {
        font-size: 12px;
    }

    .vas-exinvd-invoices-box {
        font-size: 11px;
    }

    .vis-editModeWidget .vas-exinvd-expected-invoice {
        font-size: 10px;
    }

    .vis-editModeWidget .vas-exinvd-invoices-box {
        font-size: 9px;
    }
}

@media screen and (max-width: 768px) {
    .vas-exinvd-expected-invoice {
        font-size: 9px;
    }

    .vas-exinvd-expected-heading {
        font-size: 11px;
    }

    .vas-exinvd-invoices-box {
        font-size: 10px;
    }

    .vis-editModeWidget .vas-exinvd-expected-heading {
        font-size: 8px;
    }

    .vis-editModeWidget .vas-exinvd-invoices-box {
        font-size: 8px;
    }
}

@media screen and (max-width: 680px) {
    .vas-exinvd-invoices-box {
        font-size: 10px;
    }

    .vis-editModeWidget .vas-exinvd-expected-invoice {
        font-size: 8px;
    }

    .vis-editModeWidget .vas-exinvd-expected-heading {
        font-size: 7px;
    }

    .vis-editModeWidget .vas-exinvd-invoices-box {
        font-size: 7px;
    }
}

@media screen and (max-width: 600px) {
    .vas-exinvd-invoices-box {
        font-size: 14px;
    }

    .vas-exinvd-expected-heading {
        font-size: 12px;
    }

    .vas-exinvd-invoicesListing {
        height: calc(100% - 7em);
    }

    .vas-exinvd-slider-arrows span {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 480px) {
    .vas-exinvd-invoices-box {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .vas-exinvd-expected-heading {
        font-size: 10px;
    }

    .vas-exinvd-invoices-box {
        font-size: 10px;
    }
}

.vas-exinvd-expected-invoice .vas-exinvd-expected-heading {
    margin: 0 20px 10px 0;
}

    .vas-exinvd-expected-invoice .vas-exinvd-expected-heading .vas-exinvd-filterby-col {
        flex-basis: 35%;
        justify-content: flex-end;
    }

.vas-exinvd-expected-invoice .VAS-ExpectedListDiv {
    flex-basis: 33%;
}

.vas-exinvd-expected-invoice .vas-exinvd-slider-arrows {
    margin-top: 13px;
    font-size: 8px;
}

.vas-exinvd-expected-invoice .VAS-ExpectedListDiv select, .vas-exinvd-expected-invoice .VAS-ExpectedListDiv .input-group-append .input-group-text {
    height: auto;
}

.vas-exinvd-expected-invoice .VAS-ExpectedListDiv .input-group-append .input-group-text {
    padding: 0;
}

.vas-exinvd-expected-invoice .VAS-ExpectedListDiv .vis-input-wrap {
    margin: 0;
}

.vas-disableArrow {
    pointer-events: none;
    opacity: 0.6;
}

.vas-exinvd-pagespan {
    font-size: 14px;
    font-weight: 600;
}

.vas-exinvd-lablecolor {
    background-color: rgba(var(--v-c-primary), .1)
}

.vas-exinvd-expected-invoice .vis-input-wrap select ~ label {
    background: transparent;
    top: -9px;
}

.vas-arwidg-orderTxt {
    font-weight: 600;
    font-family: Verdana;
    font-size:1.2em
}

.vas-igtwidg-top-vendors-col .VAS-YearBasedDataListDiv > .input-group.vis-input-wrap {
    margin: -4.2px 0 5px;
}

.vas-igtwidg-top-vendors-col .VAS-YearBasedDataListDiv select {
    height: auto;
    /*width: calc(100% - 20px);*/
    font-size: 14px;
    border: 0;
}

.vas-vaswidg-Symbol {
    font-family: Gill Sans MT;
    font-size: 1.1em;
}

.vas-arwidg-Symbol {
    font-family: Gill Sans MT;
}

.VAS-YearBasedDataListDiv {
    margin-right: 9px;
}

.vis-editModeWidget .vis-widget-item :not(.vis-widgetDelete) select {
    font-size: 10px;
}

.vis-editModeWidget .vis-widget-item :not(.vis-widgetDelete) .vas-igtwidg-vendors-heading {
    font-size: 9px;
    letter-spacing: -0.8px;
}

.vis-editModeWidget .vis-widget-item :not(.vis-widgetDelete) .vas-igtwidg-img-icon span {
    font-size: 10px !important;
}

.vis-editModeWidget .vis-widget-item :not(.vis-widgetDelete) .vas-igtwidg-img-icon {
    height: auto;
    width: auto;
    min-height: 22px;
    min-width: 22px;
}


@media (max-width: 1300px) {
    .vas-igtwidg-top-vendors-col .VAS-YearBasedDataListDiv select {
        font-size: 8px;
    }
    /*  .vas-vaswidg-Symbol {
        font-size: 10px;
    }*/
}

/*@media (max-width: 1024px) {
    .vas-igtwidg-vendors-heading {
        font-size: 8px;
    }
    .vas-vaswidg-Symbol {
        font-size: 8px;
    }
}

@media(max-width: 1600px){
    .vas-igtwidg-vendors-listing{
        height: calc(100% - 25px);
        overflow-y: auto;
    }
}*/

.vas-idtwidg-emptydiv {
    background-color: unset;
    user-select: none;
    color: transparent;
}

.vas-igtwidg-thumb-w-txt img.vas-igtwidg-emptyimg {
    width: 0px;
}
/*.vas-piechartexpense-container {
    padding: 0.5em;
}*/
.vas-piechartexpense-container .input-group.vis-input-wrap {
    margin-bottom: -15px;
    width: 10.5rem;
}

.vas-piechartexpense-container select.vis-ev-col-mandatory {
    width: 100%;
    height: auto;
}

.vas-t10exp-heading {
    font-size: 0.9em;
    font-weight: 600;
    margin-bottom: 0.5em;
    font-family: 'Verdana';
}

.vas-piechartexpense-container {
    /*background: linear-gradient(145deg, rgb(206 183 212) 0%, rgb(248 245 186) 100%);*/
    height: 100%;
}

    .vas-piechartexpense-container select {
        border: 0;
        width: 28%;
        float: right;
        margin-right: 20px;
        outline: none;
    }

/**Expense Revenue Profit Widget CSS*/

.vas-barline-ExRePr-container {
    padding: 0.5em;
    width: 100%;
    height: 100%
}

    .vas-barline-ExRePr-container .input-group.vis-input-wrap {
        /*margin-bottom: -15px;*/
        width: 30%;
        padding-right: 10px;
    }

    .vas-barline-ExRePr-container select.vis-ev-col-mandatory {
        width: 100%;
        height: auto;
        border: none;
    }

.vas-barline-ExRePr-canvas {
    /*height: 100% !important*/
}

.vas-ExRePr-heading {
    font-weight: 600;
    margin-bottom: 0.5em;
    font-family: 'Verdana';
    /*color: rgba(var(--v-c-common), 1);*/
    font-size: 1.1em;
    box-shadow: 0 8px 6px -6px #ffffff;
    /*padding: 1em;*/
}

.vas-ExRePr-background {
    background: rgb(245,245,245);
    background: linear-gradient(145deg, rgba(245,245,245,1) 0%, rgba(255,236,236,1) 100%);
    position: relative;
}

.vas-fdi-marquee {
    overflow: hidden;
    /*background: rgba(145,150,190, 0.7);*/
    height: 100%;
}

    .vas-fdi-marquee p {
        height: auto;
        width: 100%;
        display: inline-block;
        animation: vas-fdi-marquee 30s linear infinite;
    }

        .vas-fdi-marquee p:hover {
            cursor: pointer;
            animation-play-state: paused;
            color: #fff;
        }

@keyframes vas-fdi-marquee {
    from {
        transform: translateY(25%);
    }

    to {
        transform: translateY(-100%);
    }
}

.vas-fdi-feed-container {
    background: rgb(145,150,190);
    background: linear-gradient(to left, #36454F, rgba(var(--v-c-primary)));
    width: 100%;
    height: 100%;
    padding-bottom: 0.8em;
}

.vas-fdi-widget-head {
    color: #ffffff;
    font-size: 1.5em;
    /* box-shadow: 0 8px 6px -6px #ffffff;*/
    padding: 1em;
    font-weight: 600;
}

.vas-fdi-req-generated {
    display: flex;
    align-items: center;
    width: 95%;
    gap: 0.875em;
    margin-bottom: 15px;
    padding: 0 6px;
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

    .vas-fdi-req-generated i {
        color: #fff;
    }

.vas-fdi-req-count {
    font-size: 6em;
    font-weight: 600;
    color: rgba(var(--v-c-common), 1);
}

.vas-fdi-reqGen-Txt, .vas-fdi-woGen-Txt {
    font-size: 1.5em;
    color: rgba(var(--v-c-common), 1);
}

/*.vas-fdi-reqGen-Txt span {
        //display: block;
    }*/

.vas-fdi-spaceBetween {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.vas-fdi-req-generated:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 2560px) {
    .vas-fdi-widget-head {
        margin: 0;
    }

    .widgetEditMode .vas-fdi-feed-container {
        font-size: 14px;
    }

    .vas-fdi-req-count {
        line-height: normal;
    }
}

@media screen and (max-width: 2000px) {
    .vas-fdi-feed-container {
        font-size: 13px;
    }

    .widgetEditMode .vas-fdi-feed-container {
        font-size: 11px;
    }
}

@media screen and (max-width: 1920px) {
    .vas-fdi-req-generated {
        font-size: 12px;
    }

    .widgetEditMode .vas-fdi-req-generated {
        font-size: 10px;
    }
}

@media screen and (max-width: 1366px) {
    .vas-fdi-feed-container {
        font-size: 12px;
    }

    .vas-fdi-widget-head {
        margin: 0;
    }

    .vas-fdi-req-generated {
        font-size: 9px;
    }

    .vas-fdi-req-count {
        line-height: normal;
    }

    .widgetEditMode .vas-fdi-feed-container {
        font-size: 9px;
    }

    .widgetEditMode .vas-fdi-req-generated {
        font-size: 7px;
    }
}

@media screen and (max-width: 1024px) {
    .vas-fdi-feed-container {
        font-size: 10px;
    }

    .vas-fdi-req-generated {
        font-size: 7px;
    }

    .vas-fdi-reqGen-Txt {
        font-size: 1.8em;
        color: rgba(var(--v-c-common), 1);
    }

    .widgetEditMode .vas-fdi-feed-container {
        font-size: 8px;
    }

    .widgetEditMode .vas-fdi-req-generated {
        font-size: 5px;
    }

    .vas-fdi-req-count {
        line-height: normal;
        font-size: 6em;
    }
}

@media screen and (max-width:900px) {
    .vas-fdi-feed-container {
        font-size: 13px;
    }

    .vas-fdi-req-generated {
        font-size: 9px;
    }

    .widgetEditMode .vas-fdi-feed-container {
        font-size: 10px;
    }

    .widgetEditMode .vas-fdi-req-generated {
        font-size: 6px;
    }
}

@media screen and (max-width: 768px) {
    .vas-fdi-feed-container {
        font-size: 10px;
    }

    .vas-fdi-req-generated {
        font-size: 8px;
    }

    .widgetEditMode .vas-fdi-feed-container {
        font-size: 8px;
    }
}

@media screen and (max-width: 600px) {
    .vas-fdi-feed-container {
        font-size: 14px;
    }

    .vas-fdi-req-generated {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .vas-fdi-feed-container {
        font-size: 12px;
    }

    .vas-fdi-req-generated {
        font-size: 9px;
    }
}

@media screen and (max-width: 375px) {
    .vas-fdi-feed-container {
        font-size: 10px;
    }

    .vas-fdi-req-generated {
        font-size: 8px;
    }
}

@media screen and (max-width: 320px) {
    .vas-fdi-req-generated {
        font-size: 6px;
    }
}

.vas-custom-link {
    text-decoration: none;
    color: rgba(var(--v-c-on-secondary),1);
}

    .vas-custom-link:hover {
        color: rgba(var(--v-c-on-secondary),1);
        text-decoration: none;
    }

.vas-fdi-notfounddiv {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 258px;
    font-size: 1.8rem;
}

.vas-t10exp-background {
    background: rgb(245,245,245);
    background: linear-gradient(145deg, rgba(245,245,245,1) 0%, rgba(255,236,236,1) 100%);
    position: relative;
}

.vas-t10exp-div {
    padding: 5px 10px 0;
    box-shadow: 0 8px 6px -6px #0000001f;
}

canvas.vas-t10exp-canvas {
    height: 100% !important;
    width: 100% !important;
}
