.vas-parent,
html[dir="rtl"].vas-parent {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    margin: -11px -12px -2px -12px;
}

html[dir="rtl"].vas-parent {
    display: flex;
    align-items: center;
    background: rgba(var(--v-c-secondary),1);
    padding: 0.5rem;
    gap: 0.5rem;
    margin: -11px -12px 10px -12px;
}

.vas-root,
html[dir="rtl"].vas-root {
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

.vas-lowerDiv,
html[dir="rtl"].vas-lowerDiv {
    height: calc(100% - 115px);
}

 .vas-lowerDiv .w2ui-grid-body,
    html[dir="rtl"].vas-lowerDiv .w2ui-grid-body {
        background-color: transparent;
        height: 100% !important;
    }

 .vas-lowerDiv.w2ui-reset.w2ui-grid > div,
    html[dir="rtl"].vas-lowerDiv.w2ui-reset.w2ui-grid > div {
        height: 100% !important;
    }

 .vas-lowerDiv .w2ui-grid .w2ui-grid-body .w2ui-grid-records,
    html[dir="rtl"].vas-lowerDiv .w2ui-grid .w2ui-grid-body .w2ui-grid-records {
        overflow-x: hidden !important;
    }

.vas-bottom,
html[dir="rtl"].vas-bottom {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    margin-top: 16px
}

.vas-actionbtn,
html[dir="rtl"].vas-actionbtn {
    background: rgba(var(--v-c-primary), 1);
    border: none;
    color: rgba(var(--v-c-on-primary), 1);
    padding: 0.5rem 1.5rem;
    border-radius: .25rem;
    outline: none;
}

.vas-businessPartnerImg,
html[dir="rtl"].vas-businessPartnerImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.vas-businessPartnerInput,
html[dir="rtl"].vas-businessPartnerInput {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 0.5rem;
    margin-left: 4px
}

.vas-businessPartnerSearch,
html[dir="rtl"].vas-businessPartnerSearch {
    background: rgba(var(--v-c-primary), 1);
    width: 32px;
    height: 34px;
    font-size: 18px !important;
    color: #fff;
    border: none;
    margin-right: 7px;
    cursor: pointer
}

.vas-noimageicon {
    font-size: 26px;
}

.vas-gridImageicon {
    font-size: 1.2rem;
}

.vas-disableBtn {
    pointer-events: none;
    opacity: 0.6;
}
.vas-errorGridBody {
    height: calc(100% - 35px);
    overflow: auto;
}
 
