* {
    box-sizing: border-box;
}

.vas-root {
    height: 100%;
    width: 100%;
}

    .vas-root label {
        font-weight: 400;
    }

    .vas-root input[type='button'] {
        background: rgba(var(--v-c-primary));
    }

.vas-add-label-content .vas-select-plus-btn .vas-add-btn {
    color: rgba(var(--v-c-primary)) !important;
    border: 1px solid rgba(var(--v-c-primary));
    background-color: #fff;
}

.vis-ad-w-p-actionpanel-r .vas-sql-btns {
    padding: 13px 10px;
    border-bottom: 1px solid rgba(var(--v-c-secondary),1);
}

    .vis-ad-w-p-actionpanel-r .vas-sql-btns input[type='button'] {
        background: none;
        border: 1px solid rgba(var(--v-c-primary));
        border-radius: 3px;
        float: none;
        margin: 0 5px;
        color: rgba(var(--v-c-on-primary));
    }

        .vis-ad-w-p-actionpanel-r .vas-sql-btns input[type='button']:not(.active) {
            color: rgba(var(--v-c-primary)) !important;
        }

        .vis-ad-w-p-actionpanel-r .vas-sql-btns input[type='button'].active {
            background-color: rgba(var(--v-c-primary));
            color: rgba(var(--v-c-on-primary));
        }

        .vis-ad-w-p-actionpanel-r .vas-sql-btns input[type='button'].vas-test-sql {
            float: right;
        }

.vis-ad-w-p-actionpanel-r .vas-content-area {
    float: left;
    width: 100%;
    height: calc(100% - 70px);
    position: relative;
}

.vis-ad-w-p-actionpanel-r .vas-sql-content {
    padding: 10px 15px;
    height: 100%;
}

    .vis-ad-w-p-actionpanel-r .vas-sql-content.vas-grid-height {
        height: calc(100% - 80px);
    }

    .vis-ad-w-p-actionpanel-r .vas-sql-content textarea {
        width: 100%;
        height: 100%;
        font-size: 20px;
    }

.vis-ad-w-p-actionpanel-r .vas-sqlgenerator-column {
    width: 50%;
    float: left;
    padding: 10px 15px;
}

    .vis-ad-w-p-actionpanel-r .vas-sqlgenerator-column.vas-sqlgenerator-column2 {
        border-left: 1px solid rgba(var(--v-c-secondary),1);
        height: 100%;
    }

        .vis-ad-w-p-actionpanel-r .vas-sqlgenerator-column.vas-sqlgenerator-column2 .vas-query-input {
            height: calc(100% - 30px);
        }

.vis-ad-w-p-actionpanel-r .vas-sqlgenerator-column1 {
    position: relative;
    padding: 10px 15px 20px 10px;
}

.vis-ad-w-p-actionpanel-r .vis-ad-w-p-ap-tp-o-icorbar {
    display: block;
}

    .vis-ad-w-p-actionpanel-r .vis-ad-w-p-ap-tp-o-icorbar i {
        color: rgba(var(--v-c-primary));
    }

.vis-ad-w-p-ap-tp-o-icorbar li.vis-ad-w-p-ap-tp-o-li-selected {
    border-color: rgba(var(--v-c-primary));
}

    .vis-ad-w-p-ap-tp-o-icorbar li.vis-ad-w-p-ap-tp-o-li-selected::before {
        border-left-color: rgba(var(--v-c-primary));
    }

.vis-ad-w-p-actionpanel-r .vas-windowtab-label {
    position: relative;
}

.vis-ad-w-p-actionpanel-r .vas-windowtab {
    position: relative;
    display: inline-block;
    width: 100%;
}

    .vis-ad-w-p-actionpanel-r .vas-windowtab label {
        font-size: 12px;
        font-weight: 400;
        position: absolute;
        top: -8px;
        left: 9px;
        background: linear-gradient(#fff 50%, transparent 50%);
        padding: 0 5px 0 3px;
        z-index: 9;
    }

    .vis-ad-w-p-actionpanel-r .vas-windowtab select {
        width: 100%;
        min-height: 35px;
        border-radius: 2px;
        font-size: 14px;
        border-color: rgba(var(--v-c-secondary),1);
    }

.vas-add-label label, .vas-add-filter label {
    width: 100%;
    border-bottom: 1px solid rgba(var(--v-c-primary));
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
}

.vas-highlighted {
    color: rgba(var(--v-c-primary));
}

.vas-add-label label::after, .vas-add-filter label::after {
    content: '+';
    font-size: 25px;
    position: absolute;
    right: 0;
    top: 0px;
    background: rgba(var(--v-c-secondary),1);
    line-height: 16px;
    width: 21px;
    text-align: center;
    height: 21px;
    font-weight: bold;
    border-radius: 5px;
    color: rgba(var(--v-c-primary));
}

.vas-add-label.active label::after {
    content: '-';
}

.vas-add-label-content {
    display: none;
}

    .vas-add-label-content select {
        width: 100%;
        margin-bottom: 10px;
        min-height: 29px;
    }

.vas-add-label {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    pointer-events: none;
}

    .vas-add-label.active + .vas-add-label-content {
        display: inline-block;
        width: 100%;
    }

        .vas-add-label.active + .vas-add-label-content h4 {
            font-size: 14px;
        }

.vas-select-plus-btn {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

    .vas-select-plus-btn select {
        width: 30%;
        float: left;
    }

    .vas-select-plus-btn input[type='button'] {
        margin: 0px;
    }

.vis-ad-w-p-actionpanel-r .vas-sqlgenerator-column2 textarea {
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.vas-sqlgenerator {
    display: flex;
    height: 100%;
    width: 100%;
}

.vas-multiselect .vas-checkboxes {
    display: none;
    border-left: 1px solid rgba(var(--v-c-secondary),1);
    border-right: 1px solid rgba(var(--v-c-secondary),1);
    border-bottom: 1px solid rgba(var(--v-c-secondary),1);
    float: left;
    padding: 15px 10px;
}

.vas-windowfieldcol-select.vas-windowtab {
    width: 100%;
    float: left;
    border: 1px solid rgba(var(--v-c-secondary),1);
    min-height: 35px;
    margin: 10px 0 0px;
    position: relative;
    background: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.vas-filter-text-input {
    width: 100%;
    margin-bottom: 10px;
}

.vas-queryresult-grid {
    height: calc(100% - 80px);
}

    .vas-queryresult-grid .w2ui-grid-body {
        height: 100% !important;
    }

.vas-join-multiselect {
    float: left;
    width: 100%;
    min-height: 35px;
    display: none;
    border-left: 1px solid rgba(var(--v-c-secondary),1);
    border-right: 1px solid rgba(var(--v-c-secondary),1);
    border-bottom: 1px solid rgba(var(--v-c-secondary),1);
    margin: -10px 0 10px 0;
    padding: 15px 10px;
}

.vas-filters {
    display: inline-block;
    width: 100%;
}

    .vas-filters .vas-filter-item.vas-filters-row {
        background: rgba(var(--v-c-secondary),1);
        padding: 15px 10px;
    }

        .vas-filters .vas-filter-item.vas-filters-row:not(:last-child) {
            padding-bottom: 0px;
        }

    .vas-filters .vas-filter-item .vas-filter-item-inner {
        float: left;
        width: 100%;
        background: rgba(var(--v-c-on-primary));
        padding: 10px 10px;
    }

    .vas-filters .vas-filter-item {
        background: rgba(var(--v-c-on-primary));
        float: left;
        width: 100%;
    }

.vas-filters-editdelete-btns .vis-edit {
    margin-right: 5px;
}

.vas-filters .vas-filter-item:last-child {
    margin-bottom: 0px;
}

.vas-common-style {
    float: left;
    width: 100%;
    min-height: 35px;
}

.vas-joins {
    width: 100%;
    margin-top: 10px;
    display: inline-block;
}

    .vas-joins .vas-join-item {
        border: 1px solid rgba(var(--v-c-on-secondary),1);
        padding: 10px 10px 2px;
        margin-bottom: 10px;
        border-radius: 3px;
        background: rgba(var(--v-c-secondary),1);
        transition: all 0.3s ease-in-out;
    }

        .vas-joins .vas-join-item:hover {
            border-color: rgba(var(--v-c-primary));
        }

.vas-joins-select {
    border: 1px solid rgba(var(--v-c-secondary),1);
}

.vas-filters-block {
    float: left;
    width: calc(100% - 25%);
}

    .vas-filters-block div {
        float: left;
    }

.vas-filters-editdelete-btns div {
    float: left;
}

.vas-filters-editdelete-btns {
    float: right;
    width: auto;
}

.vas-column-list-item {
    float: left;
    margin-bottom: 10px;
    white-space: nowrap;
    width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
}

    .vas-column-list-item input[type="checkbox"] {
        margin-right: 7px;
        min-width: 15px;
        min-height: 15px;
        position: relative;
        top: 3px;
    }

        .vas-column-list-item input[type="checkbox"]:checked {
            border-color: rgba(var(--v-c-primary));
        }

            .vas-column-list-item input[type="checkbox"]:checked:before {
                background-color: rgba(var(--v-c-primary));
                transform: none;
                border: none;
                width: 10px;
                height: 10px;
                text-align: center;
                left: 0;
                right: 0;
                margin: auto;
                top: 0;
                bottom: 0;
            }

.vas-multiselect {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

.vas-update-btn {
    margin-right: 15px;
}

.vis-ad-w-p-actionpanel-r .vas-sqlgenerator-column1 input[type='button'], .vas-sqlgenerator-column2 input[type='button'] {
    background: none;
    color: rgba(var(--v-c-primary)) !important;
    border: 1px solid rgba(var(--v-c-primary));
}

.vas-filter-whitebg {
    float: left;
    width: 100%;
    background-color: rgba(var(--v-c-on-primary));
    padding: 10px;
}

.vas-sqlgenerator .VIS-AMTD-formData.VIS-AMTD-InputBtns {
    padding-right: 0px;
    margin-bottom: 10px;
}

.vis-ad-w-p-actionpanel-r .vas-sqlgenerator-column1 .vas-windowtab .VIS-AMTD-formData.VIS-AMTD-InputBtns {
    margin-bottom: 5px;
}

.vis-ad-w-p-actionpanel-r .vas-sql-content .vas-save-btn {
    margin: 0px;
    background: none;
    color: rgba(var(--v-c-primary)) !important;
    border: 1px solid rgba(var(--v-c-primary));
}

.vis-ad-w-p-actionpanel-r .vas-sqlgenerator-column1 input[type='button'] {
    margin: 0;
}

.vas-query-input {
    padding: 1em;
    color: #000;
    margin: 2px;
    border: 1px solid rgba(var(--v-c-secondary),1);
    border-radius: 3px;
    width: 100%;
    margin: auto;
    overflow-y: auto;
    font-size: 16px;
    word-wrap: break-word;
}

    .vas-query-input.vas-sql-query-input {
        height: calc(100% - 40px);
    }

.vas-sql-result-msg {
    display: inline-block;
    width: auto;
    padding: 0 10px;
    color: rgba(var(--v-c-primary));
}

    .vas-sql-result-msg.vas-sql-result-error {
        color: #ff0000;
    }

.vas-grid-div1 {
    width: 100%;
    height: 90%;
    margin-right: 15px;
    margin-top: 1px;
    border: 1px solid rgba(var(--v-c-on-secondary), 1);
}

.vas-grid-div2 {
    width: 100%;
    height: calc(100% - 21%);
    margin-right: 15px;
    margin-top: 1px;
    border: 1px solid rgba(var(--v-c-on-secondary), 1);
    display: none;
    overflow-y: auto;
}

.vas-first-delete-icon .vas-filters-editdelete-btns .glyphicon-trash {
    pointer-events: none;
    color: rgba(var(--v-c-secondary),1);
}

.vas-control-wrap {
    width: calc(100% - 70px);
}

.vas-sqlgenerator .VIS-AMTD-InputBtns input {
    width: 100%;
    min-height: 35px;
}

.vas-highlight {
    color: rgba(var(--v-c-primary));
}

.vas-multiselect .vas-arrow-down {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 16px;
    font-size: 8px;
    border: 1px solid rgba(var(--v-c-primary));
    border-radius: 50%;
    line-height: 16px;
    width: 16px;
    text-align: center;
    color: rgba(var(--v-c-primary));
}

.vas-joins-bg {
    display: flex;
    justify-content: space-between;
}

.vas-join-item .vas-selecttable:first-child {
    float: none;
}

.vas-joins-block {
    width: 85%;
    display: inline-block;
    vertical-align: top;
}

.vas-delete-join-btn {
    width: 15%;
    display: inline-block;
    text-align: right;
}

.vas-join-item .vas-selecttable {
    float: left;
    width: calc(50% - 6px);
    word-wrap: break-word;
    background-color: rgba(var(--v-c-on-primary));
    margin-bottom: 10px;
    margin-right: 12px;
    padding: 1px 10px;
    min-height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .vas-join-item .vas-selecttable:nth-child(2n+1) {
        margin-right: 0;
    }

.vas-selecttable.join-title {
    text-align: center;
}

.vas-delete-join-btn i, .vas-filters-editdelete-btns i {
    font-size: 16px;
}

.vis-ad-w-p-actionpanel-r .vas-windowtab .vis-ev-col-mandatory, .vis-ad-w-p-actionpanel-r .vas-multiselect .vis-ev-col-mandatory {
    border-color: #ff0000;
    background: none;
}

.vas-addfiltertext {
    margin: 0 0 10px;
}

.vas-sqlquery-text {
    margin-bottom: 10px;
}

.vas-column1 {
    display: inline-block;
    width: 100%;
    padding: 5px 5px 0;
    overflow-y: auto;
}

.vis-ad-w-p-actionpanel-r .vas-windowtab label.vas-label-space {
    top: -3px;
    left: 13px;
}

html[dir="rtl"] .vis-ad-w-p-actionpanel-r .vas-sql-btns {
    float: left;
    width: 100%;
}

    html[dir="rtl"] .vis-ad-w-p-actionpanel-r .vas-sql-btns .vas-sql-btn, html[dir="rtl"] .vis-ad-w-p-actionpanel-r .vas-sql-btns .vas-sql-generator {
        float: right !important;
    }

html[dir="rtl"] .vis-ad-w-p-actionpanel-r .vas-windowtab label {
    right: 9px;
    left: auto;
}

html[dir="rtl"] .vas-add-label label::after, .vas-add-filter label::after {
    right: auto;
    left: 0;
}

html[dir="rtl"] .vas-column-list-item input[type="checkbox"] {
    margin-left: 7px;
    margin-right: 0px;
}

html[dir="rtl"] .vas-sqlgenerator .VIS-AMTD-formData.VIS-AMTD-InputBtns {
    padding-left: 0px;
}

html[dir="rtl"] .vas-multiselect {
    float: none;
}

html[dir="rtl"] .vis-ad-w-p-actionpanel-r .vas-sqlgenerator-column1 input[type='button'] {
    float: right !important;
}

html[dir="rtl"] .vas-multiselect .vas-arrow-down {
    left: 10px;
    right: auto;
}

html[dir="rtl"] .vas-grid-div2 {
    margin-left: 15px;
    margin-right: 0px;
}

html[dir="rtl"] .vas-grid-div1 {
    margin-right: 0px;
    margin-left: 15px;
}

html[dir="rtl"] .vis-ad-w-p-actionpanel-r .vas-sqlgenerator-column.vas-sqlgenerator-column2 {
    border-right: 1px solid rgba(var(--v-c-secondary),1);
    border-left: 0px;
}

html[dir="rtl"] .vas-sql-result-msg {
    margin: 10px 0 0;
}
